rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }
    
    match /profile-pictures/{userId} {
      allow read: if isSignedIn();
      allow write: if isSignedIn() && userId == request.auth.uid && request.resource.size < 5 * 1024 * 1024 && request.resource.contentType.matches('image/.*');
    }

    match /group-resources/{groupId}/{allPaths=**} {
      allow read: if isSignedIn();
      allow write: if isSignedIn() && request.resource.size < 20 * 1024 * 1024;
    }
    
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
